<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Guest Book</title>
</head>
<body>
  <h1>Welcome, please sign the guestbook.</h1>


  <% for(var i=0; i<memories.length; i++) {%>
      <span><b>Name:</b> <%= memories[i].name %></span><br>
      <span><b>Email:</b> <%= memories[i].email %></span><br>
      <span><b>Comment:</b> <%= memories[i].memories %></span><br>
      <hr>
  <% } %>

  <form action="/quotes" method="POST">
    <input type="text" placeholder="Your Name" name="name">
    <input type="text" placeholder="Email Address" name="email">
    <input type="text" placeholder="Leave a comment" name="memories">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
